/* Selector Universal */
*{
    margin: 0;
    padding: 0;
}

/* Selector de etiqueta */
body{
    background-color:rgba(18, 112, 104, 0.418);
    color: rgba(0, 8, 8, 0.63);
}

/* Selecotor de ID */
#Contenedor{
    width: 900px; 
    height: 4800px;
    background-color: rgb(18, 112, 104);
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
}

/* Selector de ID */
#Encabezado{
    width: 100%;
    background-color: rgb(4, 77, 70);
    border-radius: 5px;
    text-align: center;
}

/* Selector de ID*/
#Menu{
    height: 40px;
    background-color: rgba(4, 77, 70, 0.589);
    margin: 1em;
    border-radius: 5px;
}

/* Selector de Etiqueta */
ul{
    text-align: center;
    padding: 10px;
}

li{
    display: inline;
    padding: 10px 30px;
    margin: 3em;
}

img:hover{
    width: 50%;
}

li a:hover{
    color: crimson;
    font-size: 20px;
    text-decoration:  none;
    list-style: none;
}

/* Selector de Clase */
.img{
    width: 50%;
    border-radius: 30px;
    justify-items: center;
}

.texto{
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 5px 25px;
    color: #f0e6e6;
}

.pie{
    height: 20px;
    background-color: rgb(92, 172, 164);
    margin: 1.5em;
    text-align: center;
    padding: 5px;
}

.pie h4{
    padding: 15px;
    font-size: 20px;
    background-color: rgb(4, 77, 70);
}