/* Selector Universal */
*{
    margin: 10;
    padding: 10;
}

/* Selector de etiqueta */
body{
    background-color: rgb(196, 152, 112);
    color: rgb(107, 56, 8);
}

#Contenedor{
    width: 700px; 
    height: 900px;
    background-color: rgba(148, 111, 76, 0.596);
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
}

/* Selector de ID*/
#Encabezado{
    width: 95%;
    background-color: rgb(216, 163, 113);
    border-radius: 10px;
    text-align: center;

}

/* Selector de ID*/
#Menu{
    height: 60px;
    background-color:rgb(207, 146, 90);
    margin: 1em 2em;
    border-radius: 5px;
}

li a:hover{
    color:  rgb(155, 115, 78);
    font-size: 20px;
    text-decoration:  none;
    list-style: none;
}



.concert-one-regular {
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(107, 56, 8);
}
      

.texto{
    font-family: "Playball", cursive;
    font-weight: 400;
    font-style: normal;
    color: rgb(107, 56, 8);
}
 


