* {
    box-sizing: border-box;
}

.ContenedorFlex{
    display: flex;
    width: 400px;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(8, 75, 66);
    padding: 10px;
    border: 2px solid black;
    text-align: end;
    justify-content: start;
}

.ContenedorFlexJ{
    display: flex;
    width: 800px;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(14, 16, 168);
    padding: 10px;
    border: 2px solid black;
}

.ContenedorFlexJE{
    display: flex;
    width: 800px;
    flex-direction: row;
    justify-content: end;
    background-color: rgb(14, 16, 168);
    padding: 10px;
    border: 2px solid black;
}

.ContenedorFlexJI{
    display: flex;
    width: 800px;
    flex-direction: row;
    justify-content: start;
    background-color: rgb(14, 16, 168);
    padding: 10px;
    border: 2px solid black;
}

.ContenedorFlexSA{
    display: flex;
    width: 800px;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(14, 16, 168);
    padding: 10px;
    border: 2px solid black;
}

.ContenedorFlexSB{
    display: flex;
    width: 800px;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(14, 16, 168);
    padding: 10px;
    border: 2px solid black;
}

.ContenedorFlexWR{
    display: flex;
    width: 400px;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    background-color: rgb(8, 75, 66);
    padding: 10px;
    border: 2px solid black;
    text-align: end;
    justify-content: start;
}

.ContenedorFlexAI{
    display: flex;
    width: 800px;
    height: 400px;
    flex-direction: row;
    align-items: center;
    background-color: rgb(14, 16, 168);
    padding: 10px;
    border: 2px solid black;
}

.ContenedorFlexFE{
    display: flex;
    width: 800px;
    height: 400px;
    flex-direction: row;
    align-items: flex-end;
    background-color: rgb(14, 16, 168);
    padding: 10px;
    border: 2px solid black;
}
.ContenedorFlexF1{
    display: flex;
    width: 800px;
    height: 400px;
    flex-direction: row ;
    align-items: center;
    background-color: rgb(14, 16, 168);
    padding: 10px;
    border: 2px solid black;
    text-align: center;
    justify-content: space-around;

}

.ContenedorFlexF1:hover{
    background-color: rgb(255, 0, 0);
    text-decoration-color: aquamarine;
    
    

}
.item{
    background-color: rgb(0, 238, 255);
    text-decoration-color: brown;
    width: 100px;
    margin: 10px;
    border: 2px solid;
    text-align: center;
    line-height: 25px;
    font-size: 25px;


}